body {
    box-sizing: border-box;
}
:root {
    --primary-color: #415462;
    --secondary-color: #EF6E67;
    --primary-bg-color: #ffff;
    --secondary-bg-color: #DDDDDD;
}

.container {
    margin-top: 50px;
    color: var(--primary-color);
    width: 700px;
    height: 550px;
    margin: 0px auto 20px auto;
}

button {
    padding: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-bg-color);
    font-size: 1.2rem;
    border-radius: 4px; 
    border: none;
    min-width: 100px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group-first {
    margin-right: 50px;
}

.cal-head {
    background-color: var(--secondary-bg-color);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color);
}

.head-content {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.cal-body {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-auto-rows: 100px;
}

.cal-body-item {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border: 2px solid var(--secondary-color);
}

.head-content-month, .head-content-year {
    font-size: 20px;
    font-weight: 600;
}

.border {
    padding-right: 15px;
    border-right: 2px solid var(--primary-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.events-popup {
    height: 120px;
    width: 700px;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid var(--secondary-color);
}