.wrapper {
  margin-top: 50px;
}

.heading {
  text-align: center;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.radio-container {
  display: inline-block;
  margin-left: 50px;
  text-align: center;
}

.radio-item {
  display: flex;
}

.radio-input { 
  margin-bottom: 10px;
}

.radio-label {
  height: 100%;
  // display: inline-block;
  margin-left: 10px;
  font-size: 18px;
}

.mat-radio-1 {
  margin: 10px 20px;
}

.mr30 {
  margin-right: 30px;
}

.steps-list-item {
  width: 250px;
  margin-top: 20px;

  &-btn {
    width: 100%;
    margin: 10px 0;
  }
}

.process-heading { 
  text-align: center;
}

.steps-list-container { 
  display: flex;
  justify-content: space-around;
}