<div class="content-info">
    
    <ng-container *ngIf="process">
        <h1>{{ process.name }}</h1>
        <div class="content-info-box">
            Step 1
        </div>
    
        <div class="content-info-box">
            Step 2
        </div>
    
        <div class="content-info-box">
            Step 3
        </div>
    
        <div class="content-info-group">
            <div class="content-info-box">
                Step 4
            </div>
    
            <div class="content-info-box">
                Step 5
            </div>
        </div>
    
        <div class="content-info-box">
            Step 6
        </div>
    </ng-container>

</div>