
.home { 
    display: flex;
    justify-content: space-between;

    &-list { 
        width: 48%;
        padding: 0 30px;
        background-color: aliceblue;
    }

    &-info { 
        width: 48%;
        background-color: azure;
        // margin-right: 20px;
    }
}