.org-list { 
    display: flex;
    flex-flow: row wrap;
    // flex-flow: row wrap;
    // justify-content: space-between;
    margin-top: 30px;

    &-item { 
        margin-right: 20px;
        background-color: rgb(194, 232, 255);
        font-size: 1.1rem;
        padding: 15px;
        border-radius: 10px;
        cursor: pointer;

        &:hover { 
            background-color: rgb(2, 49, 78);
            color: white;
        }
    }
}



.wrapper { 
    width: 95%;
    margin: 0 auto;
}