<div class="wrapper">
    <ul class="org-list">
        <li *ngFor="let item of organizations"
         (click)="handleChangeOrganization(item)"
         class="org-list-item">
            {{ item.name }}
        </li>
    </ul>

    <section class="content">
        <div class="content-list">
            <app-process-list [organizationObservable]="selectedOrganizationSubject.asObservable()"></app-process-list>

        </div>
        <div class="content-info">
           
        </div>
    </section>
</div>